body{
    font-family: sans-serif;
}


header{
    display: flex;
    min-height: 70px;
    background-color: #9945095e;
    justify-content: space-between;
    align-items: center;
    padding: 10px ;
    margin: 0;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img{
    height: 50px;
    margin-right: 10px;
}
nav a {
    font-weight: 600;
    padding-right: 10px;
    text-decoration: none;
    color: rgb(52, 50, 49);
}

nav a:hover {
    color: #647b3c;
}

@media (max-width : 700px){
    header{
        flex-direction: column;
    }
    nav{
        padding: 10px 0px ;
    }
}

main{
    margin: 20px;
}


main section div .carousel-inner{
    padding: 2% 30% 2% ;
}

main section div .carousel-indicators{
    padding: 50% 30% 2% ;
}

main .narrativo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
}

main .lirico{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
}

main .drama{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
}

main .didactico{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin:auto;
}

main h1{
    background-color: rgb(220, 198, 169);
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    border-bottom: 1px solid #ffffff;
    border-radius: 15px;
    margin: 20px;
}

main h2{
    background-color:#d17d1d31;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    border-bottom: 1px solid  #ffffff;
    border-radius: 15px ;
    margin: 20px;
}

main p{
    margin: 50px ;
}

main .card-text{
    margin: auto;
}

footer{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    background-color: #9945095e;
}